.sideBar{
	-fx-background-color:rgb(58,69,88);
	
}



.hover_border:hover{	
	-fx-border-color: #FAFAFA;
	-fx-background-color: #72C7F6;
	-fx-border-width: 0px 0px 0px 2px;
	-fx-cursor: hand;
}

.bodure {
	-fx-border-color: #FAFAFA;
	-fx-border-width: 2px 0px 2px 2px;
}


.bodure2 {
	-fx-border-color: #FAFAFA;
	-fx-border-width: 2px 2px 2px 0px;
}



.header_style {                                         
	 -fx-background-color: linear-gradient(to top left, #240848, rgba(36, 68, 92, 0));
		
}






